[PODBEAN_PLUGIN]
podbean_api_key = apikey
podbean_api_secret = secret
base_url = https://api.podbean.com/v1/
unpublished_audio_path = /home/user/audio/unpublished
published_audio_path = /home/user/audio/published
podbean_image_path = /home/user/podbean/logo.png
episode_content = <p>Podcast episode content</p>
publish_audio = True

[YOUTUBE_PLUGIN]
youtube_api_key = apikey
youtube_channel = westcenterbaptist
youtube_channel_id = UC8BWxzX9cy2Ina6Wg69OTQQ
unedited_video_path = /home/user/videos/unedited
edited_video_path = /home/user/videos/edited
stream_playlist = Live Streams
video_playlist = Sermons
publish_video_audio = True

[ADVANCED_SERMONS_WP_PLUGIN]
aswp_url = https://westcenterbaptist.com/wp-json/wp/v2/
aswp_username = test
aswp_app_password = dummypassword

[OPTIONS]
podbean = True
youtube = True
advanced_sermons = True