[PODBEAN_PLUGIN]
PODBEAN_PLUGIN_key = API_KEY_HERE
PODBEAN_PLUGIN_secret = API_SECRET_HERE
base_url = https://api.podbean.com/v1/

[YOUTUBE_PLUGIN]
youtube_api_key = API_KEY_HERE
youtube_channel = westcenterbaptist
youtube_channel_id = UC8BWxzX9cy2Ina6Wg69OTQQ

[PATHS]
unpublished_audio_path = ./example_paths/unpublished_audio
published_audio_path = ./example_paths/published_audio
podcast_image_path = ./example_paths/logo.png
unedited_video_path = ./example_paths/streams
edited_video_path = ./example_paths/edited_videos

[OPTIONS]
publish_audio = False
publish_video = True
latest_stream = True
latest_video = True
stream_playlist = Podcast Streams
video_playlist = Podcast Videos
episode_content = <p>Content goes here</p>