beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
configparser==7.1.0
idna==3.10
requests==2.32.3
-e git+ssh://git@github.com/westcenterbaptist/podbean-client.git@691984c0b3751bcfef8f8751ce1b16d5ac4dbdae#egg=sermon_publisher
soupsieve==2.6
urllib3==2.2.3
